#page-header-container {
  display: flex;
  // height: 30px;
  padding-left: 10px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: #463333;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;

  color: #fff0f0;
  .nav-link {
    color: #fff0f0;
  }
}
